:root { 
    --blanco: #fff;
    --fondo: #040404;
    --fondo2: #2e2e2e;
    --verde-1: #18d26e;
    --gray: #cccccc;
    --negro-fondo: rgba(15, 15, 15, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--blanco);
    background-color: var(--fondo);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

h1::selection,
h1 span::selection,
.h2::selection,
.h2-arq::selection,
.h2-ing::selection {
    background: var(--verde-1);
}

#particles-js {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Header */
header {
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    position: relative;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Menu de Navegacion */
.menu {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 35px 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 300;
    animation: moverAbajo 1s ease-in-out;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 30px;
}

nav a {
    padding: 4px 12px;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--blanco);
    user-select: none;
}

nav ul a:hover {
    border-bottom: 6px solid #18d26e;
    padding-bottom: 8px;
    transition: all 0.3s ease-in-out 0s;
}

header .sticky {
    background-color: var(--fondo);
    transition: 1s ease-in;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Hero */
.hero-container {
    display: flex;
}

.hero-description {
    margin-left: 150px;
    padding-top: 525px;
    padding-right: 200px;
}

h1 {
    position: relative;
    z-index: 200;
    font-size: 8.5rem;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    animation: moverDerecha 1s ease-in;
}

.h2 {
    position: relative;
    z-index: 200;
    font-size: 3.2rem;
    font-weight: 300;
    margin-top: 20px;
    color: var(--blanco);
    animation: moverIzquierda 1s ease-in;
}

.h2-arq {
    color: #fff;
    border-bottom: 3px solid #18d26e;
    padding-bottom: 6px;
}

.hero-icons {
    position: relative;
    z-index: 200;
    margin-top: 40px;
    display: flex;
}

.hero-icons a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    animation: moverArriba 1s ease-in;
}

.hero-icons a:hover {
    background-color: var(--verde-1);
}

.hero-img {
    z-index: 200;
    width: 34vw;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: moverArriba 1s ease-in;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Main */
main {
    width: 100vw;
    height: 100vh;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Section Generals */
.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-1);
}

.section-container {
    width: 80vw;
    height: 80vh;
    position: relative;
    z-index: 200;
}

.title-section {
    display: inline-block;
    width: auto;
    z-index: 300;
}

.section .title-section p {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--fondo2);
}

.title-section p::after {
    content: '';
    position: absolute;
    top: 0.6rem;
    width: 30px;
    height: 2px;
    background-color: var(--fondo2);
    width: 20%;
    right: 50%;
}

.section h3 {
    font-size: 4.2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--fondo2);
}


h3:hover {
    transition: 0.3s ease-in;
    transform: scale(1.2);
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Section 1 */
.section1-container {
    display: flex;
    margin-top: 80px;
    font-family: "Raleway", sans-serif
}

.section1 .title-section p::after {
    width: 35%;
    right: 20%;
    background-color: var(--fondo2);
}

.section1-img {
    width: 20vw;
    height: 55vh;
    background-color: var(--negro-fondo);
    margin-right: 100px;
}

.section1-img .img {
    background-image: url('/assests/img/foto.perfil-2-derecha.png');
    width: 20vw;
    height: 55vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1-img .img:hover {
    background-image: url('/assests/img/foto.perfil-2.png');
    transition: .3s ease-in;
}


.section1 .section1-description {
    height: 55vh;
    padding: 50px;
    background-color: var(--negro-fondo);
}

.section1 .section1-about {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 80px;
}

h5 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.section1-skills-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.section1-skills {
    text-align: center;
}

.skills-number {
    font-size: 6rem;
    font-weight: 600;
}

.skills-number:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in;
}

.skills-paragraph {
    font-size: 2.2rem;
}

.button {
    display: flex;
    justify-content: center;
}

.button a {
    padding: 10px 40px;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--blanco);
    border-radius: 8px;
    background-color: var(--fondo2);
    white-space: nowrap;
}

.button a:hover {
    color: var(--fondo2);
    background-color: var(--blanco);
    transform: scale(1.2);
    transition: .3s ease-in;
}

.button a i {
    display: inline-block;
    margin-left: 20px;
    color: inherit;
}


/* --------------------------------------------------------------------------------------------------------------------------- */
/* Section 2 */

.section2{
    background-color: var(--fondo);
}

.section2 .title-section p::after {
    width: 25%;
    right: 10%;
    background-color: var(--verde-1);
}

.section2 h3 {
    color: var(--blanco);
}

/* Cards */
.card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 82%;
    gap: 30px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(97, 64, 64, 0.205);
    user-select: none;

}

.card:hover {
    background-color: var(--verde-1);
    transition: .5s ease-in;
    transform: scale(1.2);
}

.card i {
    font-size: 5rem;
    margin-bottom: 20px;
    color: var(--blanco);
}

.card h4 {
    font-size: 2.8rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.card p {
    margin-top: 15px;
    width: 300px;
    text-align: center;    
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.section2 .title-section p {
    color: var(--blanco);
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Section 3 */
.section3 .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3 .title-section p::after {
    width: 30%;
    right: 10%;
    background-color: var(--fondo2);
}

.form-container {
    margin: 0 auto;
    width: 40%;
    height: 80%;
    margin-top: 75px;
    /* background-color: rgba(15, 15, 15, 0.4); */
    background-color: var(--fondo2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    font-family: 'Raleway', sans-serif;
}

input, textarea {
    color: var(--blanco);
    border: none;
    resize: none;
    outline: none;
    padding: 20px 0;
    margin: 25px 70px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    transition: all 0.3s ease-in;
}

#btn-enviar {
    border-bottom: none;
    cursor: pointer;
    font-size: 2rem;
}

textarea {
    height: 120px;
}

input:focus, textarea:focus {
    border-color: var(--verde-1);
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.726);
}

button {
    align-self: center;
    margin-top: 32px;
    width: 200px;   
    padding: 20px;
    color: var(--blanco);
    background-color: var(--verde-1);
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

button:hover {
    transform: scale(1.2);
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* Section 4 */
.section4 {
    position: relative;
    z-index: 300;
    width: 100vw;
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo);
}

.section4 p {
    font-weight: 300;
    font-size: 1.4rem;
}

.section4 img {
    height: 40px;
    transition: .3s ease-in;
}

.section4 img:hover {
    transform: scale(1.5);
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Animation */
@keyframes moverDerecha {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moverIzquierda {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moverArriba {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moverAbajo{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

